@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

h3 {
    font-family: 'Poppins', sans-serif;
    color: #007bff;
}

.card {
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: #ffffff;
}

.table {
    margin-top: 20px;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-primary {
    background-color: #007bff;
    color: white;
}

.go{
    margin: 10px;
}